:host app-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4CAF50;
}

.login-form {
  background: var(--blanco-transparente);
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  // max-width: 400px;

  align-items: center;
  justify-content: center;
  width: fit-content;
  // max-width: none;


  // background: white;
  // padding: 2rem;
  // border-radius: 1rem;
  // width: 100%;
  // max-width: 380px;
  // box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  // text-align: center;

  h2 {
    color: var(--texto-primario);
    font-family: var(--fuente-secundaria);
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
  }

}
